{% load static %}


<!-- banner start -->
<!-- ================ -->
<div id="banner" class="banner">


    <!-- slideshow start -->
    <!-- ================ -->
    <div class="slideshow">

        <!-- slider revolution start -->
        <!-- ================ -->
        <div class="slider-revolution-5-container">
            <div class="slider-banner-fullscreen-2 rev_slider" data-version="5.0">
                <ul class="slides">

                    <!-- slide 1 start -->
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Slide 1" data-thumb="images/onepage-slider-slide-1.jpg">

                    <!-- main image -->
                    <img src="{% static "images/vehicals/gallery-2.jpg" %}"  alt="slidebg1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption very_large_text tp-resizeme"
                        data-x="center"
                        data-y="170"
                        data-width="['auto','auto','auto','auto']"
                        data-height="['auto','auto','auto','auto']"
                        data-transform_idle="o:1;"
                        data-transform_in="x:50px;opacity:0;s:600;e:Power3.easeOut;"
                        data-transform_out="x:50px;opacity:0;s:600;e:Power3.easeOut;"
                        data-start="1200"
                        data-splitin="chars"
                        data-splitout="none"
                        data-responsive_offset="on"
                        data-elementdelay="0.05"
                        style="white-space: nowrap;">iDea - Premium HTML5 template
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption modern_big_redbg tp-resizeme"
                        data-x="left"
                        data-y="270"
                        data-width="['auto','auto','auto','auto']"
                        data-height="['auto','auto','auto','auto']"
                        data-transform_idle="o:1;"
                        data-transform_in="y:50px;opacity:0;s:600;e:Power3.easeOut;"
                        data-transform_out="y:50px;opacity:0;s:600;e:Power3.easeOut;"
                        data-start="1600"
                        data-splitin="none"
                        data-splitout="none"
                        data-responsive_offset="on"
                        style="white-space: nowrap;">100% Responsive
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption modern_big_redbg tp-resizeme"
                        data-x="left"
                        data-y="320"
                        data-width="['auto','auto','auto','auto']"
                        data-height="['auto','auto','auto','auto']"
                        data-transform_idle="o:1;"
                        data-transform_in="y:50px;opacity:0;s:600;e:Power3.easeOut;"
                        data-transform_out="y:50px;opacity:0;s:600;e:Power3.easeOut;"
                        data-start="1800"
                        data-splitin="none"
                        data-splitout="none"
                        data-responsive_offset="on"
                        style="white-space: nowrap;">Bootstrap Based
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption modern_big_redbg tp-resizeme"
                        data-x="left"
                        data-y="370"
                        data-width="['auto','auto','auto','auto']"
                        data-height="['auto','auto','auto','auto']"
                        data-transform_idle="o:1;"
                        data-transform_in="y:50px;opacity:0;s:600;e:Power3.easeOut;"
                        data-transform_out="y:50px;opacity:0;s:600;e:Power3.easeOut;"
                        data-start="2000"
                        data-splitin="none"
                        data-splitout="none"
                        data-responsive_offset="on"
                        style="white-space: nowrap;">Packed Full of Features
                    </div>

                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption modern_big_redbg tp-resizeme"
                        data-x="left"
                        data-y="420"
                        data-width="['auto','auto','auto','auto']"
                        data-height="['auto','auto','auto','auto']"
                        data-transform_idle="o:1;"
                        data-transform_in="y:50px;opacity:0;s:600;e:Power3.easeOut;"
                        data-transform_out="y:50px;opacity:0;s:600;e:Power3.easeOut;"
                        data-start="2200"
                        data-splitin="none"
                        data-splitout="none"
                        data-responsive_offset="on"
                        style="white-space: nowrap;">Very Easy to Customize
                    </div>

                    <!-- LAYER NR. 6 -->
                    <div class="tp-caption modern_big_redbg tp-resizeme"
                        data-x="left"
                        data-y="470"
                        data-width="['auto','auto','auto','auto']"
                        data-height="['auto','auto','auto','auto']"
                        data-transform_idle="o:1;"
                        data-transform_in="y:50px;opacity:0;s:600;e:Power3.easeOut;"
                        data-transform_out="y:50px;opacity:0;s:600;e:Power3.easeOut;"
                        data-start="2400"
                        data-splitin="none"
                        data-splitout="none"
                        data-responsive_offset="on"
                        style="white-space: nowrap;">And Much More...
                    </div>

                    <!-- LAYER NR. 7 -->
                    <div class="tp-caption"
                        data-x="center"
                        data-y="650"
                        data-width="['auto','auto','auto','auto']"
                        data-height="['auto','auto','auto','auto']"
                        data-transform_idle="o:1;"
                        data-transform_in="y:-50px;opacity:0;s:600;e:Power3.easeOut;"
                        data-transform_out="y:-50px;opacity:0;s:600;e:Power3.easeOut;"
                        data-start="0"
                        data-splitin="none"
                        data-splitout="none"
                        data-responsive_offset="on"
                        style="white-space: nowrap;"><a href="#about" class="btn btn-lg moving smooth-scroll"><i class="fa fa-angle-double-down fa-2x"></i></a>
                    </div>

                    </li>
                    <!-- slide 1 end -->

                </ul>
            </div>
        </div>
        <!-- slider revolution end -->

    </div>
    <!-- slideshow end -->

</div>
<!-- banner end -->