{% load i18n %}
{% load static %}
<section class="container-fluid">
    <div class="container">
        <div class="specification">
                <h2 class="text-uppercase text-center">{% trans "Specificaiton" %}</h2>
                <div class="separator"></div>
                <div class="spec-body row">
                    <div class="col-lg-6">
                        <div class="">
                            Electricity
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" data-animate-width="80%">
                                <span class="object-non-visible" data-animation-effect="fadeInLeftBig" data-effect-delay="600"></span>
                            </div>
                        </div>
                        <div class="">
                            Feature
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-dark" role="progressbar" data-animate-width="82%">
                                <span class="object-non-visible" data-animation-effect="fadeInLeftBig" data-effect-delay="600"></span>
                            </div>
                        </div>

                        <div class="">
                            Start up
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar" data-animate-width="90%">
                                <span class="object-non-visible" data-animation-effect="fadeInLeftBig" data-effect-delay="600">90% Complete - Info</span>
                            </div>
                        </div>
                        <div>Design</div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning" role="progressbar" data-animate-width="70%">
                                <span class="object-non-visible" data-animation-effect="fadeInLeftBig" data-effect-delay="600">70% Complete - Warning</span>
                            </div>
                        </div>
                        <div>Popularity</div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger" data-animate-width="85%">
                                <span class="object-non-visible" data-animation-effect="fadeInLeftBig" data-effect-delay="600">85% Complete - Danger</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 font-18">
                        Our vision has always been to create an iPhone that is entirely screen. One so immersive the device itself disappears into the experience. And so intelligent it can respond to a tap, your voice, and even a glance. With iPhone X, that vision is now a reality. Say hello to the future.
                        Our vision has always been to create an iPhone that is entirely screen. One so immersive the device itself disappears into the experience. And so intelligent it can respond to a tap, your voice, and even a glance. With iPhone X, that vision is now a reality. Say hello to the future.

                    </div>
                </div>
            </div>
    </div>
</section>




<section class="container-fluid">
    <div class="container section">
        <h2 class="text-uppercase text-center">
            Tesla Semi shakes up the trucking industry
        </h2>
        <div class="separator"></div>
        <p class="lead text-center">
            One of Tesla's most anticipated announcements of 2017 was, <br> ironically, for a vehicle that the vast majority of Teslaphiles
            <br>will never get a chance to drive.
        </p>
        <div class="row">
            <div class="col-lg-6">
                <img class="img-responsive" src="{% static "images/vehicals/2018-rolls-royce-phantom-47.jpg" %}" alt="">
            </div>
            <div class="col-lg-6 font-18">
                One of Tesla's most anticipated announcements of 2017 was, ironically, for a vehicle that the vast majority of Teslaphiles will never get a chance to drive. Dubbed the Tesla Semi, the brand debuted its first full-electric commercial truck at an event in November, electrifying the trucking industry in the process.

The Semi will boast a cruising range of 300 or 500 miles, depending on the size of the battery pack chosen, and is powered by the same motor that you'll find in the Model 3 sedan, only the Semi has four of them, one for each of the four driven wheels. It's expected to start at $150,000 for the 300-mile model when it hits the road in 2019.
                 Our vision has always been to create an iPhone that is entirely screen. One so immersive the device itself disappears into the experience. And so intelligent it can respond to a tap, your voice, and even a glance.
            </div>
        </div>
    </div>
</section>