{% load i18n %}
{% load static %}
<!-- main-container start -->
<!-- ================ -->
<section class="main-container gray-bg">

    <!-- main start -->
    <!-- ================ -->
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center title">{% trans "Technologies" %}</h1>
                    <div class="separator"></div>
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="box-style-1 white-bg object-non-visible mt-0" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
                                <i class="fa fa-leaf"></i>
                                <h2>{{ main_tech.tech_title }}</h2>
                                <p>{{ main_tech.tech_highlight }}</p>
                                <a href="page-services.html" class="btn-default btn">Read More</a>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="image-box mb-20 object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="300">
                                <div class="overlay-container">
                                    <img src="{% static "images/portfolio-1.jpg" %}" alt="">
                                    <div class="overlay">
                                        <div class="overlay-links">
                                            <a href="portfolio-item.html"><i class="fa fa-link"></i></a>
                                            <a href="{% static "images/portfolio-1.jpg" %}" class="popup-img"><i class="fa fa-search-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="image-box-body">
                                    <h3 class="title"><a href="portfolio-item.html">Project Title</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci accusamus accusantium.</p>
                                    <a href="portfolio-item.html" class="link"><span>Read More</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="image-box mb-20 object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="300">
                                <div class="overlay-container">
                                    <img src="{% static "images/portfolio-1.jpg" %}" alt="">
                                    <div class="overlay">
                                        <div class="overlay-links">
                                            <a href="portfolio-item.html"><i class="fa fa-link"></i></a>
                                            <a href="{% static "images/portfolio-1.jpg" %}" class="popup-img"><i class="fa fa-search-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="image-box-body">
                                    <h3 class="title"><a href="portfolio-item.html">Project Title</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci accusamus accusantium.</p>
                                    <a href="portfolio-item.html" class="link"><span>Read More</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-lg-4">
                            <div class="image-box mb-20 object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="300">
                                <div class="overlay-container">
                                    <img src="{% static "images/portfolio-1.jpg" %}" alt="">
                                    <div class="overlay">
                                        <div class="overlay-links">
                                            <a href="portfolio-item.html"><i class="fa fa-link"></i></a>
                                            <a href="{% static "images/portfolio-1.jpg" %}" class="popup-img"><i class="fa fa-search-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="image-box-body">
                                    <h3 class="title"><a href="portfolio-item.html">Project Title</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci accusamus accusantium.</p>
                                    <a href="portfolio-item.html" class="link"><span>Read More</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-lg-4">
                            <div class="image-box mb-20 object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="300">
                                <div class="overlay-container">
                                    <img src="{% static "images/portfolio-1.jpg" %}" alt="">
                                    <div class="overlay">
                                        <div class="overlay-links">
                                            <a href="portfolio-item.html"><i class="fa fa-link"></i></a>
                                            <a href="{% static "images/portfolio-1.jpg" %}" class="popup-img"><i class="fa fa-search-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="image-box-body">
                                    <h3 class="title"><a href="portfolio-item.html">Project Title</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci accusamus accusantium.</p>
                                    <a href="portfolio-item.html" class="link"><span>Read More</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-lg-4">
                            <div class="image-box mb-20 object-non-visible" data-animation-effect="fadeInLeft" data-effect-delay="300">
                                <div class="overlay-container">
                                    <img src="{% static "images/portfolio-1.jpg" %}" alt="">
                                    <div class="overlay">
                                        <div class="overlay-links">
                                            <a href="portfolio-item.html"><i class="fa fa-link"></i></a>
                                            <a href="{% static "images/portfolio-1.jpg" %}" class="popup-img"><i class="fa fa-search-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="image-box-body">
                                    <h3 class="title"><a href="portfolio-item.html">Project Title</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci accusamus accusantium.</p>
                                    <a href="portfolio-item.html" class="link"><span>Read More</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main end -->

</section>
<!-- main-container end -->
